body{
        background-color: #fcaaff;
        font-family: Arial, sans-serif;
        margin: 0px;
        padding: 0px ;
        box-sizing:border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}
.container{
        width: 500px;
        background-color: #fff0f6;
        padding: 50px;
        border-radius: 17px;
        box-shadow:0 2px 5px rgba(0,0,0,0,2) ;
        border: 2px solid #ff85c0;
        text-align: center;
}
h2{
    color: #ff85c0;
    font-size: 20px;
    margin-bottom: 30px;
}
.love-calculator{
    margin-top: 28px;
}
label{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ff85c0;
}
input[type="text"]{
    width: 95%;
    margin-top:10px;
    padding: 10px;
    font-size: 17px;
    /*color: #ff85c0;*/
}
button{
    color: #fff0f6;
    background-color: #ff85c0;
    border: none;
    padding: 10px 30px ;
    border-radius: 5%;
    margin-top: 17px;
    cursor: pointer;
}
#result{
    color: #ff85c0;
    margin-top: 10px;
    font-size: 22px;
}